---
layout: default
---
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">


        <h1>{{ page.title }}</h1>


          <article style="border:none" class="blog-post-small blog-post-content">
            {{ content }}
          </article>
    </div>
    <div class="col-md-1"></div>
</div>
